
h1 {
    color:#85440a;
}

.logo {
    z-index:10;
    position:absolute;
    margin-left:-128px;
}

.book {
    height:180px;
    float:left;
    border:2px solid #eee;
    padding:5px;
    margin:5px;
    display:block;
    color:#666;
}

.book img {
    float:left;
}

.book .t {
    font-size:150%;
    font-weight:bold;
    line-height:1.0;
}

.card-book {
    min-height: 314px;
    border:2px solid #eee;
    padding:5px;
    display:block;
    color:#666;
}

.card-book img {
    float:left;
}

.card-book .t {
    font-size:150%;
    font-weight:bold;
    line-height:1.0;
}

.card-book .synopsis {
    margin: 20px 0;
}


