{% set books_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}

{% if book is defined %}
	{% if success %}
	<div class="alert alert-success loginsuccess">
	    Le livre a bien été retourné !
	</div>
	{% endif %}
	<div class="card-book col-md-8">
	    {% if book[0].image %}
	        <img src="{{ app.request.basepath }}/uploads/{{ book[0].image }}.jpg" />
	    {% endif %}
	    <span class="t">{{ book[0].titre }} </span><br>
	    <em>{{ book[0].auteur }}</em><br/>
	    <p class="synopsis">{{ book[0].synopsis }}</p>
	</div>
	<div class="col-md-4">
	    <p>{{ copiesAvailable|length }} exemplaires disponibles : </p>
	    {% for copy in copiesAvailable %}
	    	<p>Exemplaire N° <strong>{{ copy.id }} </strong>
	    	{% if app.session.get('admin') == 1 %}
	    		<a class="btn btn-primary" href="{{ path('borrow', {id: book[0].id , copy: copy.id}) }}" role="button">Réserver</a>
	    	{% endif %}
	    	</p>
	    {% endfor %}
	    {% for copy in copiesUnavailable %}
	    	<p>
	    	{% if app.session.get('admin') == 1 %}
	    		
	    		<form method="post">
	    			Exemplaire N° <strong>{{ copy.id }} </strong>
	    			<button type="button" class="btn btn-danger disabled">Non disponible</button>
				    <input type="hidden" name="copyReturn" value="{{ copy.id }}">
				    <input type="submit" class="btn btn-success" value="Retour" />
				</form>
	    	{% endif %}
	    	</p>
	    {% endfor %}
	</div>
{% else %}
	{% for book in books %}
		<div class="col-md-4">
		<a class="book col-md-12" href="{{ path('books', {id: book.id}) }}">
		    {% if book.image %}
		        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}_small.jpg" />
		    {% endif %}
		    <span class="t">{{ book.titre }} </span><br>
		    <em>{{ book.auteur }}</em><br/>
		</a>
		</div>
	{% endfor %}
{% endif %}
{% endblock %}
