{% set admin_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
{% if success %}
<div class="alert alert-success loginsuccess">
    L'emprunt a bien été enregistré !
</div>
{% endif %}

<div class="card-book col-md-8">
	{% if book[0].image %}
       <img src="{{ app.request.basepath }}/uploads/{{ book[0].image }}.jpg" />
   {% endif %}
   <span class="t">{{ book[0].titre }} </span><br>
   <em>{{ book[0].auteur }}</em><br/>
   <p class="synopsis">{{ book[0].synopsis }}</p>
</div>

<div class="col-md-3">
	<form method="post">
	    <b>Nom</b> : 
	    <input class="form-control" type="text" name="name" />
	    <b>Date de fin</b> :
	    <input class="form-control" type="date" name="end" />
	 	<br>
	    <input type="submit" class="btn btn-success" value="Valider l'emprunt" />
	</form>
</div>
{% endblock %}
